/* https://github.com/piroor/treestyletab/wiki/Code-snippets-for-custom-style-rules */
/* Paste this text in Firefox Addons > Tree Style Tabs > Preferences > Advanced */

/* Vertigo theme copied */


:root {
  --shadow-color: transparent;
  --shadow-blur: 0;

  /*
  --toolbar-non-lwt-bgcolor: var(--grey-10);
  --toolbar-non-lwt-textcolor: var(--grey-90);
  --toolbar-non-lwt-inverted-textcolor: white;
  --toolbar-non-lwt-border-color: var(--grey-40);
  */

  --tab-like-surface: var(--browser-bg-base, var(--toolbar-non-lwt-bgcolor));
  --tab-surface-regular: var(
    --browser-bg-for-header-image,
    var(--tab-like-surface)
  );
  --tab-text-regular: var(--browser-fg, var(--toolbar-non-lwt-textcolor));
  --tab-text-inverted: var(
    --browser-bg-lighter,
    var(--toolbar-non-lwt-inverted-textcolor)
  );
  --tab-active-text: var(--browser-fg-active, var(--toolbar-non-lwt-textcolor));
  --tab-active-text-inverted: var(
    --browser-bg-more-lighter,
    var(--toolbar-non-lwt-inverted-textcolor)
  );
  --tab-border: var(
    --browser-border,
    var(--browser-bg-more-darker, var(--toolbar-non-lwt-border-color))
  );
  --tab-dropmarker: var(--browser-fg, var(--toolbar-non-lwt-textcolor));

  --tab-surface-hover: var(
    --browser-bg-hover-for-header-image,
    var(
      --browser-bg-less-lighter,
      #e0e8f6
        /* #grey-10 - #191104, (parseInt('f9f9fa', 16) - parseInt('191104', 16)).toString(16) */
    )
  );
  --tab-surface-active: var(
    --browser-bg-active-for-header-image,
    var(
      --browser-bg-lighter,
      #c1d2ee
        /* #grey-10 - #38270c, (parseInt('f9f9fa', 16) - parseInt('38270c', 16)).toString(16) */
    )
  );
  --tab-surface-active-hover: var(
    --browser-bg-active-for-header-image,
    var(
      --browser-bg-more-lighter,
      #d1e2fe
        /* #grey-10 - #281600 + #000004, (parseInt('f9f9fa', 16) - parseInt('281600', 16) + parseInt('000004', 16)).toString(16) */
    )
  );

  --tab-highlighted-highlight: var(--toolbar-non-lwt-inverted-textcolor);
  --tab-highlighted-glow: #3890f3; /* = rgb(56, 144, 243) */
  --tab-highlighted-base: var(--tab-surface);

  --throbber-color: var(
    --browser-loading-indicator,
    var(--browser-bg-lightest, var(--tab-highlighted-glow))
  );
  --throbber-color-active: var(
    --browser-loading-indicator,
    var(--tab-highlighted-glow)
  );

  --multiselected-color-opacity: 0.25;
}

:root,
#background {
  background-color: var(--browser-background, var(--tab-surface));
  background-image: var(--browser-bg-url, var(--browser-header-url, none));
  background-position: left;
  background-size: var(--browser-background-image-size, auto);
}
:root.right,
:root.right #background {
  background-position: right;
}

@media not (prefers-color-scheme: dark) {
  :root[color-scheme="system-color"] {
    --toolbar-non-lwt-bgcolor: -moz-dialog;
    --toolbar-non-lwt-textcolor: -moz-dialogtext;
    --toolbar-non-lwt-inverted-textcolor: -moz-dialog;
    --toolbar-non-lwt-border-color: ThreeDShadow;

    --tab-surface-hover: var(
      --browser-bg-hover-for-header-image,
      var(--browser-bg-more-lighter, var(--face-highlight-more-more-lighter))
    );
    --tab-surface-active: var(
      --browser-bg-active-for-header-image,
      var(--browser-bg-lighter, var(--face-highlight-lighter))
    );
    --tab-surface-active-hover: var(
      --browser-bg-active-for-header-image,
      var(--browser-bg-more-lighter, var(--face-highlight-more-lighter))
    );
  }
}

tab-item,
.after-tabs button {
  background: transparent;
  color: var(--tab-text);
  text-shadow: var(--browser-textshadow-for-header-image, none);
}

tab-item.active,
tab-item.bundled-active,
tab-item:hover {
  /* background: var(--tab-surface); */
  background: var(--tab-surface);
}

tab-item * {
  color: var(--tab-text);
}

tab-item:not(.active):not(.bundled-active):hover,
.after-tabs button:hover {
  --tab-surface: var(--tab-surface-hover);
}

tab-item.active,
tab-item.bundled-active {
  --throbber-color: var(--throbber-color-active);
  --tab-text: var(--tab-active-text);
  --tab-text-inverted: var(--tab-active-text-inverted);
}
tab-item.active {
  --tab-surface: var(--tab-surface-active);
}
tab-item.active:hover,
tab-item.bundled-active {
  --tab-surface: var(--tab-surface-active-hover);
}
tab-item.bundled-active:hover {
  --tab-surface: var(--tab-surface-hover);
}

tab-item:not(.active):not(.bundled-active):not(.highlighted) {
  --throbber-color: var(--browser-loading-indicator, ThreeDDarkShadow);
}

tab-item .burster {
  --throbber-color: var(--tab-loading-fill);
}

@media (prefers-color-scheme: dark) {
  :root {
    --toolbar-non-lwt-bgcolor: #252526;
    --toolbar-non-lwt-textcolor: #efefef;
    --toolbar-non-lwt-inverted-textcolor: black;
    --toolbar-non-lwt-border-color: #4a4a4d;

    --tab-highlighted-highlight: white;
    --tab-dropmarker: var(--toolbar-non-lwt-textcolor);

    --tab-surface-hover: var(
      --browser-bg-hover-for-header-image,
      var(
        --browser-bg-less-lighter,
        #29363f
          /* #252526 + #041119 (switched R and B from #191104), (parseInt('252526', 16) + parseInt('041119', 16)).toString(16) */
      )
    );
    --tab-surface-active: var(
      --browser-bg-active-for-header-image,
      var(
        --browser-bg-lighter,
        #314c5e
          /* #252526 + #0c2738 (switched R and B from #38270c), (parseInt('252526', 16) + parseInt('0c2738', 16)).toString(16) */
      )
    );
    --tab-surface-active-hover: var(
      --browser-bg-active-for-header-image,
      var(
        --browser-bg-more-lighter,
        #293b4e
          /* #252526 + #041628 (switched R and B from #281600 + #00004), (parseInt('252526', 16) + parseInt('041628', 16)).toString(16) */
      )
    );
  }

  tab-item:not(.active):not(.bundled-active):not(.highlighted) {
    --throbber-color: var(--browser-loading-indicator, #afafaf);
  }

  /* Firefox applies dark colors to scrollbars in its in-content UI, when a
     Dark theme is applied by the platform. On the other hand, dark colors
     aren't applied to scrollbars in the sidebar also by default. Thus we need
     to imitate dark scrollbar manually. See also:
     https://github.com/piroor/treestyletab/issues/2373 */
  #tabbar {
    scrollbar-color: var(--in-content-button-background-active-mixed)
      var(--in-content-box-background);
  }
}

/* cancel border */

tab-item,
tab-item.pinned,
.after-tabs button {
  border: none;
}

:root.have-pinned-tabs #tabbar {
  border-top: none;
}

:root.left tab-item:not(.pinned),
:root.left tab-item:not(.pinned)[data-parent-id] {
  border-left: none;
}

:root.right tab-item:not(.pinned),
:root.right tab-item:not(.pinned)[data-parent-id] {
  border-right: none;
}

.mutiple-highlighted tab-item:not(.highlighted) {
  opacity: 0.5;
}

/* hide regular active tab marker */
.highlighter::before {
  display: none !important;
}

/*********************************************************************************************/

/* Hide the header of the side bar (Tree Style Tab only) */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]
  #sidebar-header {
  display: none;
}

/* Compact tabs */
.tab {
  height: 18px;
  font-size: 10px;
}
tab-favicon {
  scale: 0.5;
}

/* Colors */
.tab {
  color: #707070;
  border: none;
}
#tabbar {
  background-color: #202020;
}
/* Do not let Vertigo theme override the background color */
tab-item.active {
  background-color: #775759;
}
tab-item.active {
  border-left: 2px solid #84edb9;
  padding: none;
  margin: none;
}

/* Tab state */
tab-item.discarded tab-favicon {
  opacity: 0.5 !important;
}
.tab.private-browsing .label:before {
  content: "☆";
}

/* The `+` button */
.after-tabs button {
  background-color: #323234;
  color: #808080;
  border-color: #101010;
}
.after-tabs button:hover {
  background-color: #505060 !important;
  color: #ffffff !important;
}

