elpa
el-get
straight

**/*.elc
sessions

**/*private*

tmp
elisp/tmp


# tangled from init.org
/init.el
/init.latex
/init.sh

# runtime state
eln-cache
auto-save-list
/etc
/var
/history
/places
/recentf
